@charset "utf-8";

@font-face {
  font-family: "Monserrat";
  src: url("../fonts/Montserrat-VariableFont_wght.ttf") format("truetype");
}

:root {
  --color-primary: #17fd85;
  --metric-box-spacing: 80px;
}

html,
body {
  color: white;
  font-family: "Monserrat";
  font-variation-settings: "wght" 400;
}

/* Text */

h1 {
  font-size: 2rem;
  font-variation-settings: "wght" 700;
}
h2 {
  font-size: 1.4rem;
  font-variation-settings: "wght" 700;
}
p {
  line-height: 1.4;
}
strong {
  font-weight: normal;
  font-variation-settings: "wght" 700;
}
small {
  font-size: 0.8rem;
  line-height: 1.5;
}
.text-right {
  text-align: right;
}

/* Links */

a,
button,
a:hover,
button:hover {
  cursor: pointer;
  transition: all 0.2s ease;
}
a:hover {
  color: var(--color-primary);
}

/* Colors */

.text-white {
  color: white;
}
.text-primary {
  color: var(--color-primary);
}
.text-gray {
  color: gray;
}
.bg-primary {
  background-color: var(--color-primary);
}

/* Spacing */

.p-1 {
  padding: var(--metric-box-spacing);
}
.p-2 {
  padding: 40px;
}
.mb-0 {
  margin-bottom: 0.5rem;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.text-center {
  text-align: center;
}

/* Container */

main {
  min-block-size: calc(100vh - 8em);
}
.container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 var(--metric-box-spacing);
}

/* Flex y Grid */

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: var(--metric-box-spacing);
}
.hide {
  display: none;
}
