@charset "utf-8";

@media (max-width: 980px) {
  :root {
    --metric-box-spacing: 30px;
  }
  html,
  body {
    font-size: 90%;
  }
  h1 {
    font-size: 1rem;
  }
  nav ul li {
    display: block;
    margin: 0;
    margin-bottom: 0.5rem;
  }
  .grid-end-shop {
    display: block;
    grid-template-columns: none;
  }
}
