@charset "utf-8";

@media (max-width: 980px) {
  :root {
    --metric-box-spacing: 30px;
  }
  html,
  body {
    font-size: 90%;
  }
  aside {
    max-width: 900px;
  }
  nav ul li {
    display: block;
    margin: 0;
    font-size: 1rem;
    margin-bottom: 0.5rem;
  }
}
