header {
  position: fixed;
  top: 90px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 var(--metric-box-spacing);
}
.header-logo {
  padding: 0 1rem;
}
nav ul li {
  display: inline;
  margin: 0 20px;
  font-size: 1.3rem;
}
.content {
  line-height: 1.5;
}
.card img {
  aspect-ratio: 1;
  object-fit: cover;
}
.card-title {
  font-variation-settings: "wght" 600;
}
.content-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
}
main {
  margin-top: 300px;
}
canvas {
  background: #000;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}
footer {
  margin-top: 5rem;
  padding: var(--metric-box-spacing);
}
.btn-article {
  font-family: inherit;
  font-size: 0.9rem;
  padding-bottom: 3px;
}
.btn-article:hover {
  color: #666;
}
.btn-close {
  font-family: inherit;
  font-variation-settings: "wght" 700;
  border-bottom: 3px solid transparent;
}
.btn-close:hover {
  border-bottom: 3px solid;
}
.btn-delete:hover {
  color: white;
}
aside {
  position: relative;
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: -920px;
  width: 100%;
  max-width: 400px;
  min-height: 100vh;
  color: black;
  transition: all 0.5s ease;
}
.cart-empty {
  flex: 4;
  padding: 4rem;
}
.cart-list {
  flex: 1;
  font-size: 0.9rem;
}
.cart-item {
  display: grid;
  grid-template-columns: 38px 1fr 1fr 50px 20px;
  grid-gap: 1.3rem;
  padding-bottom: 1rem;
  border-bottom: 1px dashed black;
  margin-bottom: 1rem;
  font-weight: 700;
}
.cart-img img {
  display: block;
  border-radius: 50%;
  aspect-ratio: 1;
  object-fit: cover;
  background-color: black;
}
aside a {
  color: black;
}
aside a:hover {
  color: white;
}
.cart-total {
  width: 100%;
  font-variation-settings: "wght" 700;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.cart-subtotal {
  width: 100%;
  font-variation-settings: "wght" 600;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.6rem;
}
.btn-add {
  display: inline-flex;
  font-family: inherit;
  background-color: black;
  color: white;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.btn-end {
  font-family: inherit;
  font-size: 0.8rem;
  font-variation-settings: "wght" 700;
  background-color: black;
  color: white;
  width: 100%;
  padding: 20px;
}
.btn-end:hover,
.btn-add:hover {
  background-color: #333;
}
.cartOpen {
  right: 0;
  transition: all 0.5s ease;
}
